.form-select, .form-control[type="text"] {
    border-radius: 50px;
    border: 2px solid var(--se-mauve);
}

.btn-primary {
    border-radius: 50px!important;
}

.checkbox-wrapper { 
    display: flex;
    gap: 10px;
    align-items:center
}
.checkbox-wrapper .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.checkbox-wrapper .cbx span, .checkbox-wrapper .cbx div {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 3px solid var(--se-mauve);;
    transition: all 0.2s ease;
}

.checkbox-wrapper .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--se-orange);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.checkbox-wrapper .cbx div:last-child {
    margin-left: 8px;
}

.checkbox-wrapper .cbx:hover span:first-child {
    border-color: var(--se-orange);
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child {
    border-color: var(--se-orange);
    background: var(--se-orange);
    animation: check-anim 0.6s ease;
}

.checkbox-wrapper .inp-cbx:disabled+.cbx span:first-child {
    border-color: var(--se-gris);
    background: var(--se-gris);
    animation: check-anim 0.6s ease;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child svg, .checkbox-wrapper .inp-cbx:disabled+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child:before, .checkbox-wrapper .inp-cbx:disabled+.cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes check-anim {
    50% {
        transform: scale(1.2);
    }
}

@media (max-width: 767px) { 
    .checkbox-wrapper .cbx {
        flex-direction: column;
        text-align: center;
    }
    .checkbox-wrapper .cbx span:first-child {
        display: none;
    }
}


/* Tooltip Bootstrap */
.tooltip {
  z-index: 9999 !important;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--se-bleu);
  --bs-tooltip-color: #fff;
  --bs-tooltip-max-width: 300px;
}

.icon-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: help;
  margin-left: 8px;
}

.icon-info img {
  width: 25px;
  height: 25px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.icon-info:hover img {
  opacity: 1;
}